/* navbar  */
.navbar{
    text-align: center;
    background-color: #81D8DB;
}



.maincontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding: 1rem 6rem;
    margin-top: 2rem;
}
button{
    padding: 1rem 5rem;
    margin-top: 3rem;
    cursor: pointer;
}
.list{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    width: 100%;
    /* margin-bottom: 20rem; */
}


table{
    width: 80%;
}
tbody{
    text-align: center;
}
tr{
 
    margin-top: 1rem;
}
.tableRow{
    display: none;
}
.search_bar{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -4rem;
    margin-top: 3rem;
}
/* .book-list{
    display: none;
} */